sudo: true
language: python
notifications:
  email:
    recipients:
      - 379978424@qq.com
    on_success: always # default: change
    on_failure: always # default: always
python:
- '3.4'
- '3.5'
before_install:
  - pip install -r requirements.txt
  - chmod +x ci/run_tests.sh
script:
  - python setup.py install
  - make test